# file ausiliari prodotti da LaTeX
*.log
*.aux

# file pdf della relazione
ADS_relazione.pdf

# file ausiliari generati da python
*.pyc

pyproject.toml
.flake8

.DS_Store

__pycache__/
__pycache__/selecting.cpython-310.pyc
__pycache__/sorting.cpython-310.pyc
