# file ausiliari prodotti da LaTeX
*.log
*.aux
*.out
*.fls
*.fdb_latexmk

# file pdf della relazione
# file ausiliari generati da python
*.pyc

pyproject.toml
.flake8
.latexmkrc

.DS_Store

__pycache__/
__pycache__/selecting.cpython-310.pyc
__pycache__/sorting.cpython-310.pyc
*.log
*.aux
*.out
*.synctex.gz
*.toc
.DS_store
